body{
  background-image: url(assets/QUINAMUIU1.jpg);
  background-size: 100% 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.typing {
  font-style: italic;
  color: gray;
  text-align: center;
  margin-top: 10px;
}

.chat-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #11bb4c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.chat-box {
  height: 400px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #FBFFFB;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  display: inline-block;
}

.message.user {
  background-color: #14A1D9;
  color: white;
  align-self: flex-end;
}

.message.bot {
  background-color: #F2BE22;
  color: black;
  align-self: flex-start;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.input-box input {
  width: 80%;
  padding: 13px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: #FBFFFB;
  color: black;
}

.input-box button {
  padding: 10px 20px;
  background-color: #0897DD;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.input-box button:hover {
  background-color: #405367;
}

.chat-footer {
  text-align: center;
  padding: 1px;
  background-color: #11bb4c;
  font-size: 14px;
  color: #f1e6e6;
  border-top: 1px solid #ddd;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .chat-container {
    padding: 15px;
  }

  .chat-header {
    font-size: 20px;
  }

  .chat-box {
    height: 300px;
    padding: 8px;
  }

  .message {
    font-size: 12px;
  }

  .input-box input {
    width: 70%;
    padding: 10px;
  }

  .input-box button {
    padding: 8px 15px;
  }

  .chat-footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .chat-container {
    width: 100%;
    padding: 10px;
  }

  .chat-header {
    font-size: 18px;
  }

  .chat-box {
    height: 250px;
    padding: 6px;
  }

  .message {
    font-size: 10px;
  }

  .input-box input {
    width: 60%;
    padding: 8px;
  }

  .input-box button {
    padding: 6px 12px;
  }

  .chat-footer {
    font-size: 10px;
  }
}
